<h1>Show Me Jquery Tag Editing</h1>
<h2>Current ShowMe</h2>
The current tags on the project are: <%= link_to "Edit", "javascript:void(0)", {:class => "show_edit toggle_edit_off", :id => "edit_toggle_link" } %>


<div id="tags_div" class="tags_div" name="tags_div">
	<div id="edit_label"></div>

	<ul id="tags" class="tagit">
		<% if !@tags.blank? %>
	 	  <% for tag in @tags %>
		    <li><%= tag.name%></li>
		  <% end %>
		<% else %>
		  
		<% end %>	
	</ul>
</div>

