<!DOCTYPE html>
<html>
<head>
  <title>ShowmeJqueryTags</title>
  <%= render 'layouts/stylesheets' %>
  <%= render 'layouts/javascript_tags' %>
  <%= csrf_meta_tag %>
</head>

<body>

<div class="container">
<%= yield %>
</div>
</body>
</html>
